.sidebar {
  width: 200px;
  background-color: #ecc588;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Bayangan sisi kiri */
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: auto;
}

.sidebar .menu li {
  padding: 10px 20px;
}

.sidebar .menu li a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 18px;
  padding: 10px 10px;
  transition: background-color 0.3s;
}

.sidebar .menu li a.active {
  background-color: #f0d7af;
  color: black;
  padding: 12px 16px;
  border-radius: 5px;
}

.logout-btn {
  background-color: #0f0303;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  width: 95%;
}

.logout-btn:hover {
  background-color: #333;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid #000;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  color: black;
}

.user-nip {
  margin: 0;
  font-size: 14px;
  color: #555;
}
