/* Style for the new entry list container */
.new-entry-list {
  margin: 20px;
  padding: 15px;
  background-color: #faf6d4; /* Sesuaikan dengan palet warna */
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 1200px;
}

/* Heading styling */
h2 {
  text-align: center;
  color: #3a3a3a;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-bordered {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f0d39d; /* Warna header tabel sesuai palet */
  color: black;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9f7e9; /* Warna saat hover sesuai palet */
  cursor: pointer;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f0d39d; /* Warna tombol pagination sesuai palet */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #e4c793; /* Warna tombol pagination saat hover */
}

/* Action Button styling */
.btn-action {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.action-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

.btn-action:hover .action-icon {
  transform: scale(1.2);
}

/* Styling for the search bar */
.search-container {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
}

.search-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; /* Warna border default */
  border-radius: 4px;
  width: 250px;
}

/* Mengubah border menjadi hitam saat input difokuskan */
.form-control:focus {
  border: 1px solid black; /* Ubah warna border saat input difokuskan */
  outline: none; /* Menghilangkan outline default */
  border-radius: 4px;
  box-shadow: none; /* Optional: Tambahkan efek shadow */
}

/* Placeholder styling */
.search-input::placeholder {
  color: #888;
}

/* Error message styling */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
