/* Styling untuk halaman SignIn agar tidak terpengaruh oleh sidebar */
.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Pastikan tinggi halaman penuh */
  background-color: white; /* Warna latar belakang yang lebih lembut */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Card Styling */
.card {
  width: 100%;
  max-width: 400px; /* Lebar maksimum form */
  margin: auto; /* Pemusatan kartu secara otomatis */
  padding: 20px;
  border-radius: 12px; /* Sudut kartu yang lebih halus */
  background-color: #faf6d4; /* Warna latar belakang kartu */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Bayangan lembut di sekitar kartu */
}

/* Card Title Styling with Logo */
.card-title {
  text-align: center;
  margin-bottom: 30px; /* Memberikan jarak yang lebih besar */
}

.card-title .logo-img {
  width: 150px; /* Ukuran logo lebih besar */
  height: auto;
  display: block;
  margin: 0 auto; /* Memastikan logo berada di tengah */
}

/* Form Styling */
.form-group {
  margin-bottom: 20px; /* Menambahkan jarak antar form group */
}

.form-group label {
  font-weight: 600; /* Label lebih bold */
  color: #333; /* Warna label lebih gelap */
  font-size: 14px;
  margin-bottom: 8px;
}

.form-group input {
  border-radius: 8px; /* Sudut input lebih halus */
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #ddd; /* Garis border tipis */
  width: 100%;
  background-color: #f7f7f7; /* Warna latar belakang input */
  transition: border-color 0.3s ease; /* Efek transisi saat fokus */
}

/* Efek focus input */
.form-group input:focus {
  border-color: black; /* Warna border saat fokus */
  outline: none; /* Menghilangkan outline default */
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.5); /* Efek bayangan saat fokus */
}

/* Button Styling */
button.btn {
  width: 100%; /* Tombol Sign In memenuhi lebar form */
  padding: 14px;
  font-size: 18px;
  border-radius: 8px; /* Sudut tombol lebih halus */
  background-color: #f0d39d; /* Warna tombol biru */
  color: black; /* Warna teks putih */
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

button.btn:hover {
  background-color: #e4c793; /* Tombol lebih gelap saat hover */
  cursor: pointer;
}

/* Menambahkan jarak pada container */
.container {
  padding: 0; /* Menghilangkan padding container agar form tampil sempurna */
  margin: 0; /* Menghilangkan margin container */
}
