<div class="user-list">
  <h2>User List</h2>

  <!-- Add User Button -->
  <div class="add-user-btn-container">
    <button class="add-user-btn" (click)="addUser()">Add User</button>
  </div>

  <!-- Search Box -->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      placeholder="Search by Username or NIP"
      class="search-input"
    />
  </div>

  <!-- Table for user list -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th (click)="sortTable('username')">
          Username
          <span *ngIf="sortOrder.username" class="sort-icon">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-up': sortOrder.username === 'asc',
                'fa-sort-down': sortOrder.username === 'desc'
              }"
            ></i>
          </span>
        </th>
        <th (click)="sortTable('nip')">
          NIP
          <span *ngIf="sortOrder.nip" class="sort-icon">
            <i
              class="fa"
              [ngClass]="{
                'fa-sort-up': sortOrder.nip === 'asc',
                'fa-sort-down': sortOrder.nip === 'desc'
              }"
            ></i>
          </span>
        </th>
        <th>Email</th>
        <th>No. HP</th>
        <th>Unit Kerja</th>
        <th>Admin</th>
        <th>Action</th>
        <!-- Added Action column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.nip }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.noHp }}</td>
        <td>{{ user.unitKerja.unitName }}</td>
        <td>{{ user.unitKerja.admin ? "Yes" : "No" }}</td>
        <td>
          <button class="btn-action" (click)="deleteUser(user.id)">
            <img src="/img/delete.svg" alt="Delete" class="action-icon" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <button
      (click)="onPageChange(pageNumber - 1)"
      [disabled]="pageNumber === 0"
    >
      Previous
    </button>
    <span>Page {{ pageNumber + 1 }} of {{ totalPages }}</span>
    <button
      (click)="onPageChange(pageNumber + 1)"
      [disabled]="pageNumber + 1 === totalPages"
    >
      Next
    </button>
  </div>
</div>
